@model Arriendos.Models.ApplicationUser

<br />
<div>
    <center>
        <h1>
            <img class="img-perfil" src="@Url.Action("UserPhotos", "Home" )" />
        </h1>
    </center>
    <center>
        <p class="nombre-perfil">@Model.Nombre @Model.Apellido</p>
    </center>
    <br />
    <div>
        <h4>Identificación</h4>
        <p>@Model.Identificacion</p>
        <h4>Correo electronico</h4>
        <p>@Model.Email</p>
    </div>
</div>